/* Cha tCSS
// ------------------------------------
// Author: Roman Leinwather
// Created at: 04/02/2019
// Copyright 2019 - All rights reserved Renndigital
// ------------------------------------ */


.dicussion {
  border: 1px solid #999;
  margin: 0 0 30px 0 !important;
  background: #f9f9f9;
  font-size: 11px;
}

.dicussion-nav {
  position: relative;
  padding: 0px !important;
  height: 700px !important;
  overflow: scroll;
}

.dicussion-nav li {
  padding: 15px 15px;
  margin: 0 !important;
  cursor: pointer;
}

.dicussion-nav li:hover,
.dicussion-nav li.active {
  background: #383b42;
  color: #fff;
}

.dicussion-invite {
  position: absolute;
  bottom: 0;
  padding: 15px;
  height: 100px;
  width: 100%;
  margin: 0 !important;
  border-top: 1px solid #999;
}

.dicussion-nav .col {
  padding: 0 !important;
}

.dicussion-settings {
  display: block;
  color: #ddd;
  height: 21px;
  line-height: 21px;
  text-align: center;

  margin-right: -10px;
}

.dicussion-settings:hover {
  color: #fff;
}

.dicussion-new {
  display: block;
  background: #de0e0e;
  color: #fff;
  border-radius: 100px;
  height: 21px;
  width: 21px;
  line-height: 21px;
  text-align: center;
}

.dicussion-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.dicussion-body {
  height: 700px !important;
  overflow: scroll;
  border-left: 1px solid #999;
  background: #fff;
}

.dicussion-item {
  padding: 15px 15px 0 15px;
  margin: 0;
}

.dicussion-item .col {
  padding: 0;
}

.dicussion-first-name {
  display: block;
  font-weight: bold;
}

.dicussion-time, .dicussion-date {
  display: block;
  font-size: 9px;
}

.dicussion-text {
  border: 1px solid #eee;
  background: #fff;
  padding: 15px;
}

.new .dicussion-text {
  background: #fce6e6;
  border: 1px solid #fce6e6;
}

.dicussion-item:nth-child(even) .dicussion-text{
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
}

.dicussion-new-form {
  padding-top: 15px;
}

