/* File Upload CSS
// ------------------------------------
// Author: Roman Leinwather
// Created at: 04/02/2019
// Copyright 2019 - All rights reserved Renndigital
// ------------------------------------ */

.file-upload {
  padding: 130px;
  text-align: center;
  margin-bottom: 30px;
}

.fa-cloud-upload-alt {
  color: #fff;
  font-size: 100px;
  margin: 15px;
}

.file-upload :hover {
  font-weight: bold !important;
  color: 000;
}
