/* Forms CSS
// ------------------------------------
// Author: Roman Leinwather
// Created at: 04/02/2019
// Copyright 2019 - All rights reserved Renndigital
// ------------------------------------ */


/* Checkboxes */
[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #29973e;
  border-bottom: 2px solid #29973e;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border: 2px solid #29973e;
  background-color: #29973e;
}

[type="checkbox"]+span:not(.lever) {
  font-size: 13px;
}

/* Chips */
.chip {
  background: #fff;
  line-height: 32px;
  padding: 0 0 0 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 11px;
}

.chip.chip-light {
  background: #ddd;
  border: 1px solid #ddd;
}

.chip.chip-light .close {
  background: #bbb;
  color: #fff;
}

.chip.chip-dark {
  background: #383b42;
  border: 1px solid #383b42;
  color: #fff;
}

.chip.chip-dark .close {
  background: #000;
  color: #fff;
}

.chip .close {
  border-radius: 100px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  background: #f2f2f2;
  margin-left: 30px;
}

.chip .close:hover {
  background: #de0e0e;
  color: #fff;
}

/* Datepicker */
.datepicker-date-display {
  background: #383b42;
}

.month-prev, .month-next {
  background: #f9f9f9 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: #ddd;
}

.datepicker-cancel:hover, .datepicker-clear:hover, .datepicker-today:hover, .datepicker-done:hover {
  color: #000;
}

.datepicker-table td.is-today {
  background: #383b42;
  color: #fff;
}

.datepicker-table td.is-selected {
  background: #29973e;
}

/* Radio buttons */
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid #29973e;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
  font-size: 13px;
}


/* Input */
input:focus {
  border-bottom: 1px solid #29973e !important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1px solid #ddd !important;
  font-size: 13px;
}


/* Select */
.select-wrapper input.select-dropdown {
  border-bottom: 1px solid #ddd;
}

.select-wrapper+label {
  font-size: 11px;
  top: -13px;
}

.select-wrapper input.select-dropdown {
  font-size: 13px;
}

.dropdown-content {
  background: #000;
  color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
}

.dropdown-content label {
  color: #fff;
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: #fff;
  font-size: 13px;
}

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
  opacity: .5;
  color: inherit;
}

.dropdown-content li:hover {
  background: #29973e !important;
}

.dropdown-content .selected {
  background: #29973e;
}

.dropdown-content li.selected:hover [type="checkbox"]+span:not(.lever):before {
  border-right-color: white;
  border-bottom-color: white;
}


/* Switches */
.switch label .lever,
.switch label input[type=checkbox]:checked+.lever {
  background: #ddd;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background: #29973e;
}
